footer
    .container
        .footer-menu.flex
            div.posts
                h3 Latest Posts
            div.about
                h3 About
            div.social
                h3 Stay Connected