extends template.pug
mixin content(img_src, title_content, p_content, button_content )
    article
        img(src=img_src, alt="")
        h3= title_content
        p= p_content
        button(class='btn')= button_content
        

block main
    section.content
        .container
            section.banner
                .banner-text
                    h2 Lorem ipsum bla bla bla
                    p
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non accumsan leo. Integer gravida nisl eu nunc accumsan, ut porta elit eleifend. Curabitur egestas vel odio nec auctor.
                    p
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non accumsan leo. Integer gravida nisl eu nunc accumsan, ut porta elit eleifend. Curabitur egestas vel odio nec auctor.
                    button.btn Learn More
                .banner-img
                    img(src="assets/images/terra.jpg", alt="")
    block features
        section.features
            .container
                h2 This is a Heading
                .flex 
                    +content('assets/images/img-article.jpg', 'Título1', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla elit eget tortor malesuada ornare.', 'Learn More')
                    +content('assets/images/img-article.jpg', 'Título1', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla elit eget tortor malesuada ornare.', 'Learn More')
                    +content('assets/images/img-article.jpg', 'Título1', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla elit eget tortor malesuada ornare.', 'Learn More')



    