body,
html,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
}

.container {
  width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.btn {
  border: 2px solid #fa9641;
  border-radius: 5px;
  background-color: #fa9641;
  color: #fff;
  width: 100px;
  padding: 5px;
  font-family: "Roboto";
}

header {
  background-color: #2f2f2f;
  height: 100px;
  font-family: "Roboto";
  display: flex;
}

header .container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

header .container nav ul {
  list-style: none;
  display: flex;
}

header .container nav ul li {
  padding: 15px;
}

header .container nav ul li a {
  color: #fff;
  text-decoration: none;
}

main section.content {
  width: 100%;
  background-color: #f1f1f1;
}

main section.content .container {
  display: flex;
}

main section.content .container section.banner {
  padding: 30px 0;
  display: flex;
  align-items: center;
}

main section.content .container section.banner div {
  padding: 0 10px;
}

main section.content .container section.banner div.banner-img {
  display: flex;
  align-items: center;
}

main section.features {
  padding: 20px 0;
}

main section.features h2 {
  margin: 15px;
}

main section.features article {
  margin: 0 15px;
}

footer {
  background-color: #2f2f2f;
  padding: 20px;
  color: #fff;
}

footer .footer-menu {
  padding: 20px;
}

footer .footer-menu .posts {
  flex: 0 0 30%;
  margin-right: 15px;
}

footer .footer-menu .posts .post-single {
  margin: 10px 0;
}

footer .footer-menu .posts .post-single .data {
  border-radius: 3px;
  padding: 15px 10px;
  color: #000;
  background-color: #fff;
  display: inline-flex;
  margin-right: 10px;
  width: 30px;
  height: 16.65px;
  font-size: 12px;
  text-align: center;
  align-items: center;
}

footer .footer-menu .posts .post-single h4 {
  font-size: 16px;
}

footer .footer-menu .posts .post-single p {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

footer .footer-menu .posts .post-info {
  display: flex;
  flex-direction: column;
}

footer .footer-menu .about {
  flex: 0 0 40%;
  margin-right: 15px;
}

footer .footer-menu .about p {
  margin-top: 10px;
  font-size: 13px;
}

footer .footer-menu .social {
  flex: 0 0 30%;
  margin-right: 15px;
}

footer .footer-menu .social ul {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

footer .footer-menu .social ul li .icon-social {
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 20px;
}

footer .footer-menu .social ul li .facebook {
  background-position: 0 0;
}

footer .footer-menu .social ul li .twitter {
  background-position: 0 -38px;
}

footer .footer-menu .social ul li .twitter:hover {
  background-position: -27px -38px;
}

footer .footer-menu .social ul li .rss {
  background-position: 0 -74px;
}

footer .footer-menu .social ul li .google {
  background-position: 0 -112px;
}

footer .footer-menu .social ul li a {
  text-decoration: none;
  color: #fff;
  vertical-align: 50%;
}

footer h3 {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */